.weather-card {
  text-transform: none;
  color: black;
}

.wind-item {
  text-transform: none;
}

.precipitation-item {
  text-transform: none;
}

.temperature-item {
  text-transform: none;
}
